n8n-workflows/paket-1-baslangic.json
{
  "name": "Paket 1: BAŞLANGIÇ",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "emlak-icerik-üretimi",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        592,
        0
      ],
      "id": "b661800d-1083-4b41-b95b-459d4d806b11",
      "name": "Webhook",
      "webhookId": "2df2740a-2730-4b1f-bd28-47a250e5ea28"
    },
    {
      "parameters": {
        "jsCode": "// Webhook'tan gelen ham veriyi al\nconst input = items[0].json;\n\n// marketing objesi formdaki \"marketing\" alanı (HTML'de öyle tanımlamıştık)\nconst marketing = input.marketing || {};\n\nconst highlightsRaw = marketing.highlights || \"\";\nconst highlights = highlightsRaw\n  .split(\",\")\n  .map(s => s.trim())\n  .filter(Boolean);\n\n// Tek bir normalize edilmiş JSON döndürüyoruz\nreturn [\n  {\n    json: {\n      portfolio: {\n        location: $input.first().json.body.location || \"\",\n        listingNo: $input.first().json.body.listingNo || \"\",\n        propertyType: $input.first().json.body.propertyType || \"\",\n        price: $input.first().json.body.price || null,\n        brut: $input.first().json.body.brut || null,\n        net: $input.first().json.body.net || null,\n        rooms: $input.first().json.body.rooms || \"\",\n        floor: $input.first().json.body.floor || \"\",\n        heating: $input.first().json.body.heating || \"\",\n        site: $input.first().json.body.site || \"\",\n        parking: $input.first().json.body.parking || \"\",\n        credit: $input.first().json.body.credit || \"\"\n      },\n      marketing: {\n        target: $input.first().json.body.marketing.target || \"\",\n        tone: $input.first().json.body.marketing.tone || \"\",\n        highlights,\n        language: $input.first().json.body.marketing.language || \"tr\",\n        notes: $input.first().json.body.marketing.notes || \"\"\n      }\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        0
      ],
      "id": "e2f7eefc-7966-4693-929c-b596a96d8fb2",
      "name": "Normalize Portfolio Data"
    },
    {
      "parameters": {
        "jsCode": "const data = items[0].json;\nconst p = data.portfolio;\nconst m = data.marketing;\n\nconst loc = p.location || \"Lokasyon belirtilmemiş\";\nconst priceText = p.price ? `${p.price} TL` : \"fiyat belirtilmemiş\";\nconst highlights = (m.highlights || []).join(\", \");\n\n// Dil bilgisi (şimdilik sadece TR mantığıyla yazdık)\nconst lang = m.language || \"tr\";\n\n// Portal prompt\nconst portalPrompt = `\nAşağıdaki özelliklere sahip bir konut için emlak portallarında (Sahibinden vb.)\nkullanılmak üzere profesyonel, detaylı ve SEO uyumlu bir ilan açıklaması yaz.\n\nLütfen:\n- Konumu, m² bilgilerini, oda sayısını ve ısıtma türünü net şekilde belirt\n- Varsa site içi, otopark, krediye uygunluk gibi avantajları vurgula\n- ${m.target || \"genel kitle\"} hedef kitlesine uygun bir dil kullan\n- ${m.tone || \"Samimi\"} bir ton tercih et\n- Gereksiz süslü ifadelerden kaçın, net ve açıklayıcı ol\n\nPortföy Özeti:\n- Lokasyon: ${loc}\n- Emlak tipi: ${p.propertyType}\n- Oda sayısı: ${p.rooms}\n- m² (Brüt/Net): ${p.brut || \"-\"} / ${p.net || \"-\"}\n- Bulunduğu kat: ${p.floor}\n- Isıtma: ${p.heating}\n- Site içerisinde: ${p.site}\n- Otopark: ${p.parking}\n- Krediye uygun: ${p.credit}\n- Öne çıkan özellikler: ${highlights || \"-\"}\n- Fiyat: ${priceText}\n\nEk Notlar (danışmanın isteği):\n${m.notes || \"-\"}\n`.trim();\n\n// Instagram prompt\nconst instagramPrompt = `\nAşağıdaki portföy için Instagram gönderi metni yaz.\n\nLütfen:\n- Dikkat çeken bir giriş cümlesi kullan\n- Emoji kullan ama abartma\n- Sonunda \"Detaylar ve konum için DM'den yazın\" benzeri bir CTA olsun\n- 5 adet alakalı hashtag ekle (#izmir #emlak vb.)\n\nPortföy Özeti:\n- Lokasyon: ${loc}\n- Emlak tipi: ${p.propertyType}\n- Oda sayısı: ${p.rooms}\n- m² (Brüt/Net): ${p.brut || \"-\"} / ${p.net || \"-\"}\n- Öne çıkan özellikler: ${highlights || \"-\"}\n- Fiyat: ${priceText}\n- Hedef kitle: ${m.target}\n- Ton: ${m.tone}\n`.trim();\n\n// LinkedIn prompt\nconst linkedinPrompt = `\nAşağıdaki portföy için profesyonel bir LinkedIn paylaşım metni yaz.\n\nLütfen:\n- Bu portföyü \"yatırım fırsatı\" ve \"lokasyon avantajı\" odağında konumlandır\n- Kurumsal ve profesyonel bir dil kullan\n- Orta/uzun vadeli değer artışı potansiyeline vurgu yap\n- Sonunda \"Detaylı bilgi için iletişime geçebilirsiniz\" tarzı bir CTA ekle\n\nPortföy Özeti:\n- Lokasyon: ${loc}\n- Emlak tipi: ${p.propertyType}\n- Oda sayısı: ${p.rooms}\n- m² (Brüt/Net): ${p.brut || \"-\"} / ${p.net || \"-\"}\n- Site içerisinde: ${p.site}\n- Öne çıkan özellikler: ${highlights || \"-\"}\n- Fiyat: ${priceText}\n- Hedef kitle: ${m.target}\n`.trim();\n\n// Reels prompt\nconst reelsPrompt = `\nAşağıdaki portföy için 30–60 saniyelik Instagram Reels / TikTok video senaryosu yaz.\n\nLütfen:\n- Senaryoyu zaman aralıklarıyla yaz (örn. [0–5 sn], [5–15 sn])\n- Hangi sahnede ne gösterileceğini ve dış sesin ne söyleyeceğini belirt\n- Son bölümde fiyat ve güçlü bir CTA olsun\n- Dil: ${m.tone || \"Samimi\"} ama profesyonel\n\nPortföy Özeti:\n- Lokasyon: ${loc}\n- Emlak tipi: ${p.propertyType}\n- Oda sayısı: ${p.rooms}\n- m² (Brüt/Net): ${p.brut || \"-\"} / ${p.net || \"-\"}\n- Site içerisinde: ${p.site}\n- Öne çıkan özellikler: ${highlights || \"-\"}\n- Fiyat: ${priceText}\n- Hedef kitle: ${m.target}\n\nEk Notlar:\n${m.notes || \"-\"}\n`.trim();\n\nreturn [\n  {\n    json: {\n      portfolio: p,\n      marketing: m,\n      prompts: {\n        portal: portalPrompt,\n        instagram: instagramPrompt,\n        linkedin: linkedinPrompt,\n        reels: reelsPrompt\n      }\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        0
      ],
      "id": "8758859a-e3e4-4c11-bc5c-8bf6b8133e12",
      "name": "Build Prompts"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompts.portal }}",
        "options": {
          "systemMessage": "Sen 10 yıllık deneyime sahip bir emlak metni yazarı ve gayrimenkul pazarlama uzmanısın.\nTürkçe yazıyorsun ve metinlerin profesyonel, açıklayıcı ve SEO uyumludur.\n\nStil Kuralları:\n- Gereksiz süslü cümlelerden kaçın\n- Net, güven verici, profesyonel bir ton kullan\n- Cümleleri kısa tut ama çok basitleştirme\n- Mülkün teknik özelliklerini doğru sırada ver: Lokasyon → m² → oda yapısı → bina/daire bilgileri → ısıtma → site/otopark → kredi → öne çıkanlar → fiyat\n- SEO için lokasyon adını minimum 2 kez geçir\n- “Bu metin otomatik üretilmiştir” tarzı şeyler yazma\n- Kesinlikle hayali bilgi ekleme\n\nTeslim Şekli:\nSadece düzgün bir açıklama metni döndür.\nListe, başlık, emoji, hashtag kullanma.\nSadece düz paragraf metni üret."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1456,
        -288
      ],
      "id": "e7536f65-c169-4f77-9f7b-a4deb9ee85d2",
      "name": "OpenAI Portal",
      "alwaysOutputData": false,
      "retryOnFail": false,
      "notesInFlow": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1456,
        -192
      ],
      "id": "c868b270-392c-42d3-8f52-788e41802fe8",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "osR25AVm81c6W9ga",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1456,
        0
      ],
      "id": "b9aacfeb-dac9-4057-b10d-81b3b744fcde",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "osR25AVm81c6W9ga",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1456,
        176
      ],
      "id": "e4261bd3-192e-4379-9062-a6aec7b21b97",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "osR25AVm81c6W9ga",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1456,
        368
      ],
      "id": "b2d4aab5-c1db-4b57-8777-7b09a9932f96",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "osR25AVm81c6W9ga",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompts.instagram }}",
        "options": {
          "systemMessage": "Sen sosyal medya içeriklerinde uzman bir metin yazarı ve özellikle Instagram için yüksek etkileşimli içerikler yazan bir uzmansın.\n\nStil Kuralları:\n- Samimi, dikkat çekici ve enerjik bir giriş yap\n- Yer yer emoji kullan ama abartma\n- En önemli özellikleri 1–2 cümlede öne çıkar\n- Sonunda mutlaka \"DM'den yazın\", “iletişim için mesaj atın” gibi güçlü bir CTA olsun\n- 5 adet alakalı hashtag ekle (#izmir #emlak #satılıkdair vb.)\n- Cümleler çok uzun olmasın; mobil ekran için optimize et\n- Gereksiz teknik detay verme\n- Türkçe yaz\n\nTeslim Şekli:\n- 5–10 satırdan oluşan bir sosyal medya metni döndür\n- Metnin sonuna **tam 5 hashtag** ekle\n- Hashtag’leri üstteki paragraftan boşlukla ayır"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1456,
        -112
      ],
      "id": "08df918c-7a8c-4998-b00a-a88d956eb63d",
      "name": "OpenAI Instagram"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompts.linkedin }}",
        "options": {
          "systemMessage": "Sen LinkedIn için profesyonel düzeyde içerik üreten bir gayrimenkul yatırım danışmanısın.\nTürkçe yazıyorsun.\n\nStil Kuralları:\n- Kurumsal, ciddi ve yatırım dili kullan\n- Lokasyon avantajı, talep artışı, prim potansiyeli, M2/Fiyat dengesi gibi yatırımcıya yönelik kavramları işle\n- Bölge hakkında genelleyici ama doğru ifadeler kullan (örneğin: “bölgedeki yeni projeler”, “ulaşım ağlarının gelişmesi”, “yatırım geri dönüş potansiyeli yüksek”)\n- Kısa ama analitik cümleler kur\n- Aile/öğrenci gibi hedef kitle belirtilmişse doğru bağlamda geçir\n- Gereksiz emoji veya sosyal medya dili kullanma\n- Sonunda profesyonel bir CTA ekle: “Detaylı bilgi için iletişime geçebilirsiniz.”\n\nTeslim Şekli:\n3–4 kısa paragraftan oluşan profesyonel bir paylaşım metni döndür."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1456,
        80
      ],
      "id": "4660784a-5012-435c-8c3f-4da84589d684",
      "name": "OpenAI LinkedIn"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompts.reels }}",
        "options": {
          "systemMessage": "Sen Instagram Reels ve TikTok için kısa video senaryoları yazan profesyonel bir kreatif metin yazarsın.\nSenaryoların sahne sahne, zaman aralıklı ve akıcıdır.\n\nStil Kuralları:\n- Zaman aralıklarını mutlaka belirt: [0–5 sn], [5–12 sn], [12–20 sn]...\n- Her sahnede:\n  1) Ne gösterildiğini yaz (plan, çekim türü, kamera hareketi)\n  2) Dış sesin (narrator) ne söylediğini yaz\n- Fiyat, lokasyon ve öne çıkan özellikler mutlaka bir sahnede geçsin\n- Son sahnede mutlaka güçlü bir CTA olsun\n- Kısa, net ve hızlı akan bir ritim kullan\n- Gereksiz hikaye anlatma veya mizah ekleme\n- Türkçe yaz\n\nTeslim Şekli:\nSadece sahne sahne yazılmış bir senaryo döndür.\nListe formatı değil; zaman aralıklı bloklar halinde yaz."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1456,
        256
      ],
      "id": "52af9fca-5c24-4c49-9983-f58a054785df",
      "name": "OpenAI Reels"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b992ac05-6787-4eae-b825-565b072dc6fa",
              "name": "portal",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1808,
        -288
      ],
      "id": "e1c9cd55-269e-4953-a99b-04611671afcf",
      "name": "Set Portal"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "50c1f2e7-24b2-4cba-a793-d5ca02f93edb",
              "name": "Instagram",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1808,
        -112
      ],
      "id": "7642ecba-5dcb-44b1-bd59-ea6f0b5b5b8b",
      "name": "Set Instagram"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b0f1105a-807c-486b-b36c-d29bbf0c4a7a",
              "name": "LinkedIn",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1808,
        80
      ],
      "id": "ae0585cc-73e8-42a8-b304-d0541ad0f788",
      "name": "Set LinkedIn"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "098a7724-0357-4dfa-bb22-f56b945e90fb",
              "name": "Reels",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1808,
        256
      ],
      "id": "3e6808cb-03aa-4970-af50-8bad6ec6add1",
      "name": "Set Reels"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2160,
        -32
      ],
      "id": "9c1128a2-8638-49eb-a1c7-5fe59e462126",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// Merge'den gelen 4 item'i tek objeye çeviriyoruz\nconst contents = {};\n\nfor (const item of items) {\n  const obj = item.json;\n  const [key, value] = Object.entries(obj)[0]; // örn: [\"portal\", \"...\"]\n  const normalizedKey = key.toLowerCase();\n  contents[normalizedKey] = value;\n}\n\n// Cache key'i önceki node'dan çek\nconst cacheKey = $('Önbellek Anahtarını Hesapla').first().json.cacheKey\n\nreturn [\n  {\n    json: {\n      success: true,\n      fromCache: false,\n      cacheKey,\n      contents\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2352,
        0
      ],
      "id": "440540f5-81c9-48d5-8104-20d0595eded0",
      "name": "Collect For Response"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2496,
        0
      ],
      "id": "e647e78f-492d-46e6-8325-4bfced4c06dc",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "// Normalleştirilmiş veriyi al\nconst data = items[0].json; \n// data = { portfolio: {...}, marketing: {...} }\n\n// Sadece cache için önemli alanlar\nconst keyObj = {\n  portfolio: data.portfolio,\n  marketing: data.marketing,\n};\n\n// String'e çevir\nconst raw = JSON.stringify(keyObj);\n\n// Basit bir hash fonksiyonu (32 bit int)\nfunction simpleHash(str) {\n  let hash = 0;\n  for (let i = 0; i < str.length; i++) {\n    const chr = str.charCodeAt(i);\n    hash = (hash << 5) - hash + chr;\n    hash |= 0; // 32-bit\n  }\n  return hash.toString();\n}\n\nconst cacheKey = simpleHash(raw);\n\nreturn [\n  {\n    json: {\n      ...data,   // portfolio + marketing aynen kalsın\n      cacheKey,  // yeni alanımız\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        0
      ],
      "id": "5e16fc7e-c4a8-4d9b-9a91-9029d87467e4",
      "name": "Önbellek Anahtarını Hesapla"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "x-forwarded-host": "api1q3659q2s1373.spektrumcreative.co",
            "x-forwarded-server": "api1q3659q2s1373.spektrumcreative.co",
            "x-real-ip": "31.223.99.154",
            "x-forwarded-for": "31.223.99.154",
            "x-forwarded-proto": "https",
            "host": "api1q3659q2s1373.spektrumcreative.co",
            "connection": "Upgrade",
            "content-length": "340",
            "sec-ch-ua-platform": "\"Windows\"",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/139.0.0.0 Safari/537.36 OPR/123.0.0.0",
            "sec-ch-ua": "\"Not;A=Brand\";v=\"99\", \"Opera GX\";v=\"123\", \"Chromium\";v=\"139\"",
            "content-type": "application/json",
            "sec-ch-ua-mobile": "?0",
            "accept": "*/*",
            "origin": "null",
            "sec-fetch-site": "cross-site",
            "sec-fetch-mode": "cors",
            "sec-fetch-dest": "empty",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "tr,en-US;q=0.9,en;q=0.8,pt-BR;q=0.7,pt;q=0.6,de;q=0.5",
            "priority": "u=1, i"
          },
          "params": {},
          "query": {},
          "body": {
            "location": "İzmir/Torbalı",
            "listingNo": "1282861670",
            "propertyType": "Satılık Daire",
            "price": 3600000,
            "brut": 93,
            "net": 83,
            "rooms": "2+1",
            "floor": "Yüksek Giriş",
            "heating": "Kombi (Doğalgaz)",
            "site": "Evet",
            "parking": "Açık Otopark",
            "credit": "Hayır",
            "marketing": {
              "target": "Aile",
              "tone": "Samimi",
              "highlights": "",
              "language": "tr",
              "notes": ""
            }
          },
          "webhookUrl": "https://api1q3659q2s1373.spektrumcreative.co/webhook-test/emlak-icerik-üretimi",
          "executionMode": "test"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize Portfolio Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Portfolio Data": {
      "main": [
        [
          {
            "node": "Önbellek Anahtarını Hesapla",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompts": {
      "main": [
        [
          {
            "node": "OpenAI Portal",
            "type": "main",
            "index": 0
          },
          {
            "node": "OpenAI Instagram",
            "type": "main",
            "index": 0
          },
          {
            "node": "OpenAI LinkedIn",
            "type": "main",
            "index": 0
          },
          {
            "node": "OpenAI Reels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "OpenAI Portal",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "OpenAI Instagram",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "OpenAI LinkedIn",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "OpenAI Reels",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Portal": {
      "main": [
        [
          {
            "node": "Set Portal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Instagram": {
      "main": [
        [
          {
            "node": "Set Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI LinkedIn": {
      "main": [
        [
          {
            "node": "Set LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Reels": {
      "main": [
        [
          {
            "node": "Set Reels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Portal": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Instagram": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Set LinkedIn": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Set Reels": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Collect For Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect For Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Önbellek Anahtarını Hesapla": {
      "main": [
        [
          {
            "node": "Build Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2300f2db-5b31-4cca-8190-8a7c49b08afa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5525387647e09d39cdeedff04f465871b8d0f786febfe3757800bc426897b31a"
  },
  "id": "Qr2YXkjNpFov2cls",
  "tags": []
}